body{
    background-color: #f4f7fa;  
}
#container{
    background-color: white;
    display: block;
    width: 60%;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.5;
    font-size: 20px;
}

.top-form{
    text-align: center;
}

.top{
    text-transform: uppercase;  
}

.info{
    padding-top: 30px;
}

.content{
    text-align: justify;
}

.end-form{
    margin-left: 50%;
    text-align: center;
    line-height: 1.5;
}

.sign{
    padding-top: 80px;
}