*::selection{
    background: #B5BABE;
    color: white;
}

p{
    text-align: justify;
}

body{
    font-family: "Playfair Display";
    font-size: 14px;
    color: #626262;
    line-height: 24px;
}

.navbar-brand{
    font-family: "Inconsolata";
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}

.navbar{
    padding: 70px 0px 70px;
}

ul{
    margin-left: auto;
}

.bg-light{
    background-color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 0px 10px 105px;
}

.col-md-6, .col-md-12{
    padding-left: 30px;
    padding-right: 30px;
}

/* ---------------------------------banner----------------------------------*/

.img-responsive{
    padding-bottom: 95px;
    max-width: 100%;
}

.row{
    margin-top: 0px;
    margin-left: 63px;
}

h6{
    font-family: "Ubuntu Light";
    font-size: 14px;
    color: #b4ad9e;
}

h2{
    font-size: 30px;
    margin: 28px 0px 30px 0px;
}

.intro{
    margin-bottom: 75px;
}

.col-md-6{
    margin-bottom: 130px;
}


/*---------------------------------- MINIMO_02 ---------------------------------- */

.para{
    padding-bottom: 46px;
}

.intro>img{
    width: 100%;
    margin-bottom: 55px;
}

.note{
    padding: 0px 20px 15px 20px;
}

.share{
    font-family: 'Ubuntu';
    font-size: 13px;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.share>a{
    color: #b4ad9e;
    text-decoration: none;
    margin-left: 10px;
}

.share>a:hover{
    color: #000000;
}

.share>p{
    margin-right: 10px;
}

/* ---------------------------------Sign up----------------------------------*/

.container-fluid{
    background-color: #f0f0f0;
    padding-top: 70px;
}

.more{
    padding: 0px 93px;
}

.thumbnail>img{
    max-width: 100%;
}

.title>h2{
    font-size: 20px;
    margin-top: 20px;
}

.more>h6{
    padding-bottom: 35px;
}

.grid-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
}

.grid-container>a{
    text-decoration: none;
    color: #626262;
}

.grid-container>a:hover{
    color: #000000;
}

.article{
    padding-bottom: 50px;
}

/*--------------------------------- COMMENT ---------------------------------*/

.side-bar{
    margin-right: -100px;
}

.comment{
    padding: 0px 93px;
}

.comment>h6{
    margin-top: 60px;
    margin-bottom: 35px;
}

.comment>.share{
    margin-bottom: 95px;
    margin-top: -15px;
}

.guest-comment{
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.avatar{
    float: left;
}

.avatar>a>img{
    border-radius: 50%;
}

.content{
    padding-left: 100px;
}

.name>a{
    text-decoration: none;
    color: #626262;
}

.content>a{
    text-decoration: none;
}

.content>a>h6:hover, .name>a:hover{
    color: #000000;
}

.content>form>input{
    width: 100%;
    padding: 24px;
    outline: none;
    border: 1px solid #b4ad9e;
    border-radius: 5px;
    font-family: 'Ubuntu';
    font-size: 14px;
}

.content>form>input::placeholder{
    color: #c8c8c8;
}

.ads{
    margin-bottom: 60px;
}

/* ---------------------------------footer----------------------------------*/

.footer{
    background-color: #f0f0f0;
    height: auto;
}

.infor{
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    align-items: center;
    color: #000000;
}

.term>a{
    margin-right: 15px;
    color: #000000;
    text-decoration: none;
}

.follow>a{
    margin-left: 15px;
    color: #626262;
}

.follow>a:hover{
    color: #000000;
}

.follow{
    display: flex;
    align-items: center;
}

.follow>p{
    margin-bottom: 0;
}

/*---------------------------------- MINIMO 3 ----------------------------------*/

.myPhoto{
    margin-bottom: 30px;
}

.myself>h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.myStory>p{
    font-size: 12px;
    margin-bottom: 20px;
}

.contact{
    margin-bottom: 75px;
}

.contact>a{
    color: #b4ad9e;
    margin-right: 10px;
}

.contact>a:hover, .post-name>a:hover{
    color: #000000;
}

.post-name>a{
    text-decoration: none;
    color: #626262;
}

.post-name{
    display: inline;
}

.post-name>a>h2{
    font-size: 16px;
    margin-bottom: 10px;
}

.post-cmt>h6{
    font-size: 12px;
}

.top-post{
    margin-bottom: 55px;
}

.top-post>ul{
    padding-left: 20px;
}

/*---------------------------------- RESPONSIVE ---------------------------------- */

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl  {
        max-width: 1092px;
    }
}

@media (max-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        text-align: right;
    }

    .container{
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .thumbnail img{
        max-width: 100%;
    }

    .navbar{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .active{
        padding-top: 20px;
    }

    .col-md-6{
        margin-bottom: 50px;
    }
}

@media (max-width: 768px){
    .img-fluid{
        width: 100%;
    }

    .navbar-brand{
        font-size: 25px;
    }
    
    .row{
        margin: 0px;
    }

    .container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .img-responsive{
        padding-bottom: 70px;
    }

    .title>h2{
        font-size: 15px;
    }
}

@media (max-width: 554px){
    .infor{
        display: block;
        text-align: center;
    }

    .img-responsive{
        padding-bottom: 50px;
    }

    .follow{
        justify-content: center;
    }

    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro{
        margin-bottom: 80px;
    }
}
