body{
    font-family: "Playfair Display";
    font-size: 14px;
    color: #626262;
}

.navbar-brand{
    font-family: "Inconsolata";
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}

.navbar{
    padding: 70px 0px 70px;
}

ul{
    margin-left: auto;
}

.bg-light{
    background-color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 0px 10px 105px;
}

.col-md-6, .col-md-12{
    padding-left: 30px;
    padding-right: 30px;
}

/* ---------------------------------banner----------------------------------*/

.img-responsive{
    padding-bottom: 95px;
    max-width: 100%;
}

.row{
    margin: 0px 48px;
}

h6{
    font-family: "Ubuntu Light";
    font-size: 14px;
    color: #b4ad9e;
}

h2{
    font-size: 30px;
    margin: 28px 0px 30px 0px;
}

.intro>p{
    padding-bottom: 36px;
}

.intro, .item{
    margin-bottom: 130px;
}

.col-md-6>a{
    text-decoration: none;
    color: #626262;
}

.col-md-6>a:hover{
    color: #000000;
}

.col-md-6{
    margin-bottom: 130px;
}

.thumbnail img{
    margin-bottom: 30px;
}

/* ---------------------------------Sign up----------------------------------*/

.container-fluid{
    background-color: #f0f0f0;
    padding-top: 70px;
}

.sign-up{
    margin-bottom: 100px;
}

h5{
    text-align: center;
    color: #333333;
    font-size: 30px;
    margin-bottom: 70px;
}

.form-group {
    margin-bottom: 15px; 
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.form-group>form>input{
    width: 400px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    background-color: transparent;
    padding-left: 0;
    font-size: 14px;
}


.input-group-btn>button{
    border: none;
    outline: none;
    border-bottom: 1px solid;
    padding-bottom: 7px;
    margin-top: 5px;
}

/* ---------------------------------LOAD MORE----------------------------------*/

.col-md-12>button{
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #626262;
    padding: 20px 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    margin-bottom: 150px;
}

button:hover{
    background-color: #f0f0f0;
}

/* ---------------------------------footer----------------------------------*/

.footer{
    background-color: #f0f0f0;
    height: auto;
}

.infor{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
    color: #000000;
}

.term>a{
    margin-right: 15px;
    color: #000000;
    text-decoration: none;
}

.follow>a{
    margin-left: 15px;
    color: #626262;
}

.follow>a:hover{
    color: #000000;
}

.follow{
    display: flex;
    align-items: center;
}

.follow>p{
    margin-bottom: 0;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl  {
        max-width: 1092px;
    }
}

@media (max-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        text-align: right;
    }

    .container{
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro{
        padding:0px;
    }

    .thumbnail img{
        max-width: 100%;
    }
}

@media (max-width: 554px){
    .row{
        margin: 0px;
    }
}

@media (max-width: 410px){
    .infor{
        display: block;
        text-align: center;
    }

    .follow{
        justify-content: center;
    }
}

@media (max-width: 768px){
    .img-fluid{
        width: 100%;
    }
}
